body {
    background-color: #12274F;
    color: white;
    min-height: 720px;
    min-width: 1280px;
    font-family: 'Poppins', Verdana, sans-serif;
    margin: 0;
}

.title {
   position: relative;
   top: 3em;
   font-size: 71px;
   font-weight: 700;
   line-height: 84px;
   letter-spacing: 0em;
   text-align: left;
   margin: 0;
   width: 359px;
   height: 162px;
}

.navigation {
    position: relative;
    top: 5em;
    left: 5%;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
}

.links {
    position: relative;
    left: 10em;
}

a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    margin-left: 1em;
    color: white;
}

a:visited {
    color: white;
}

.btn {
    
    background-color: #00FF75;
    width: 250px;
    height: 96px;
    box-shadow: 0px 10px 0px #12274F;
    border-radius: 50px;
    font-size: 32px;
    font-weight: 900;
    color: white;
    position: relative;
    top: 7.8em;
    border-style: none;
}

.title, .btn-container {
    padding-left: 15%;
}

.vector {
    position: absolute;
    z-index: 0;
    left: 5em;
    top: 15em;
}

.fastfood {
    position: relative;
    left: 30em;
    bottom: 6em;

}

.burger {
    position: relative;
    bottom: 3em;
    left: 45em;
}

.burger-shadow {
    bottom: 1em;
    position: relative;
    left: 25em;
    z-index: -1;
}

.footer {
    position: relative;
    top: 5em;
    display: flex;
    justify-content: center;
}

.footer .icon {
    margin-right: 5%;
    margin-bottom: 3%;
}

.las-img {
    width: 500px;
    height: auto;
    float: right;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

.title.las {
    top: 1.5em;
}

.main-container {
    position: relative;
    top: 4em;
    padding-left: 5em;
    text-align: justify;
}

.title.chill {
    width: 50%;
    position: relative;
    top: 1.5em;
    left: -1em;
}

.directions {
    padding-right: 5em;
}

.main-container.mac {
    top: 10em;
}

.footer.macfoot {
    top: 13em;
}